.tasksContent{
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.infoTasks{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createdTasks strong{
  color: var(--blue);
}

.createdTasks span, .completedTasks span{
  background: var(--gray-400);
  padding: .2rem .7rem;
  margin: 0 1rem;
  border-radius: 40px;
  font-weight: 700;
}

.completedTasks strong{
  color: var(--purple);
}

.tasks{
  margin-top: 2rem;
  border-top: 2px solid var(--gray-400);
  border-radius: 10px;
}

.empty{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.empty img{
  display: block;
  padding: 1rem;
  margin: 0 auto;
}

.taskCard{
  background: var(--gray-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
}

.task{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  color: var(--gray-100);
  text-align: justify;
}

.checkbox{
  border: 1px solid var(--blue);
  opacity: 0.5;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  clip-path: circle(40% at 50% 50%); 
}

.checkbox:checked{
  opacity: 1;
  accent-color: var(--purple);
}

.taskCard button{
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  transition: all .2s;
  border-radius: 4px;
  margin-left: 1rem;
}

.taskCard button:hover{
  color: var(--red);
}